@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@{ var selection = CurrentPage.Children.Where("Visible"); }

@if (selection.Any())
{
    <ul class="nav nav-pills"  >
        @foreach (var item in selection)
        {
            <li style="width: 33.3333%;"  role="presentation">
                <a href="@item.Url">@item.Name</a>
            </li>
        }
    </ul>
}