@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@*
    This snippet makes a list of links to the of parents of the current page using an unordered html list.

    How it works:
    - It uses the Ancestors() method to get all parents and then generates links so the visitor can go back
    - Finally it outputs the name of the current page (without a link)
*@

@{
    @* Get the root of the website *@
    var root = CurrentPage.AncestorOrSelf(1);
}




<ul class="nav nav-pills">
    @foreach (var page in root.Children.Where("Visible"))
    {
        <li    role="presentation" class="@(page.IsAncestorOrSelf(CurrentPage) ? "current" : null)">
            <a href="@page.Url">@page.Name</a>
        </li>
    }
</ul>

