<!DOCTYPE root[<!ELEMENT Subchildpage ANY>
<!ATTLIST Subchildpage id ID #REQUIRED>
<!ELEMENT Textpage ANY>
<!ATTLIST Textpage id ID #REQUIRED>
<!ELEMENT Frontpage ANY>
<!ATTLIST Frontpage id ID #REQUIRED>
 

]>
<root id="-1">
  <Frontpage id="1056" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-05-07T13:45:45" updateDate="2015-05-07T13:45:57" nodeName="First Page" urlName="first-page" path="-1,1056" isDoc="" nodeType="1053" creatorName="sid_umbraco" writerName="sid_umbraco" writerID="0" template="1052" nodeTypeAlias="Frontpage">
    <Textpage id="1061" parentID="1056" level="2" creatorID="0" sortOrder="0" createDate="2015-05-07T14:05:43" updateDate="2015-05-07T14:13:13" nodeName="Transport" urlName="transport" path="-1,1056,1061" isDoc="" nodeType="1055" creatorName="sid_umbraco" writerName="sid_umbraco" writerID="0" template="1054" nodeTypeAlias="Textpage">
      <contentText><![CDATA[<p>Fusce augue erat, commodo at nisl ut, dapibus porta est. Ut in facilisis diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />                                Integer eget ligula sed justo scelerisque semper. Curabitur non semper ipsum, sed consequat nisl. Duis a rhoncus nunc. <br />                                Mauris dignissim nisi quis nibh aliquet, vitae vulputate mauris finibus. Pellentesque elementum vel mi a consectetur. <br />                                Donec leo odio, consequat a ornare non, posuere quis nunc. Donec eu elit rutrum, hendrerit ligula id, faucibus nulla. <br />                                Proin nec suscipit metus, vel aliquet nunc. </p>]]></contentText>
      <contentHeadline><![CDATA[Transport]]></contentHeadline>
    </Textpage>
    <Textpage id="1062" parentID="1056" level="2" creatorID="0" sortOrder="1" createDate="2015-05-07T14:06:39" updateDate="2015-05-07T14:06:39" nodeName="Accomodations" urlName="accomodations" path="-1,1056,1062" isDoc="" nodeType="1055" creatorName="sid_umbraco" writerName="sid_umbraco" writerID="0" template="1054" nodeTypeAlias="Textpage" />
    <Textpage id="1063" parentID="1056" level="2" creatorID="0" sortOrder="2" createDate="2015-05-07T14:07:01" updateDate="2015-05-07T14:07:01" nodeName="Financial Aid" urlName="financial-aid" path="-1,1056,1063" isDoc="" nodeType="1055" creatorName="sid_umbraco" writerName="sid_umbraco" writerID="0" template="1054" nodeTypeAlias="Textpage">
      <Subchildpage id="1070" parentID="1063" level="3" creatorID="0" sortOrder="0" createDate="2015-05-07T14:35:18" updateDate="2015-05-07T14:35:18" nodeName="S.U." urlName="su" path="-1,1056,1063,1070" isDoc="" nodeType="1069" creatorName="sid_umbraco" writerName="sid_umbraco" writerID="0" template="1068" nodeTypeAlias="Subchildpage" />
    </Textpage>
    <Textpage id="1064" parentID="1056" level="2" creatorID="0" sortOrder="3" createDate="2015-05-07T14:07:51" updateDate="2015-05-07T14:07:51" nodeName="Living In DK" urlName="living-in-dk" path="-1,1056,1064" isDoc="" nodeType="1055" creatorName="sid_umbraco" writerName="sid_umbraco" writerID="0" template="1054" nodeTypeAlias="Textpage" />
    <Textpage id="1065" parentID="1056" level="2" creatorID="0" sortOrder="4" createDate="2015-05-07T14:08:12" updateDate="2015-05-07T14:08:27" nodeName="Studying In DK" urlName="studying-in-dk" path="-1,1056,1065" isDoc="" nodeType="1055" creatorName="sid_umbraco" writerName="sid_umbraco" writerID="0" template="1054" nodeTypeAlias="Textpage" />
    <Textpage id="1066" parentID="1056" level="2" creatorID="0" sortOrder="5" createDate="2015-05-07T14:08:47" updateDate="2015-05-07T14:08:59" nodeName="Non-EU Students" urlName="non-eu-students" path="-1,1056,1066" isDoc="" nodeType="1055" creatorName="sid_umbraco" writerName="sid_umbraco" writerID="0" template="1054" nodeTypeAlias="Textpage" />
    <Textpage id="1067" parentID="1056" level="2" creatorID="0" sortOrder="6" createDate="2015-05-07T14:09:11" updateDate="2015-05-07T14:09:11" nodeName="Forum" urlName="forum" path="-1,1056,1067" isDoc="" nodeType="1055" creatorName="sid_umbraco" writerName="sid_umbraco" writerID="0" template="1054" nodeTypeAlias="Textpage" />
  </Frontpage>
</root>