<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT Forum ANY>
<!ATTLIST Forum id ID #REQUIRED>
<!ELEMENT ForumCategory ANY>
<!ATTLIST ForumCategory id ID #REQUIRED>
<!ELEMENT ForumDateFolder ANY>
<!ATTLIST ForumDateFolder id ID #REQUIRED>
<!ELEMENT ForumLogin ANY>
<!ATTLIST ForumLogin id ID #REQUIRED>
<!ELEMENT ForumPost ANY>
<!ATTLIST ForumPost id ID #REQUIRED>
<!ELEMENT ForumRegister ANY>
<!ATTLIST ForumRegister id ID #REQUIRED>
<!ELEMENT ForumSearch ANY>
<!ATTLIST ForumSearch id ID #REQUIRED>
<!ELEMENT ForumTextPage ANY>
<!ATTLIST ForumTextPage id ID #REQUIRED>
<!ELEMENT ForumTopic ANY>
<!ATTLIST ForumTopic id ID #REQUIRED>
<!ELEMENT Frontpage ANY>
<!ATTLIST Frontpage id ID #REQUIRED>
<!ELEMENT MasterPage ANY>
<!ATTLIST MasterPage id ID #REQUIRED>
<!ELEMENT Textpage ANY>
<!ATTLIST Textpage id ID #REQUIRED>

]>
<root id="-1">
  <Frontpage id="1065" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-05-05T19:51:51" updateDate="2015-05-05T19:51:51" nodeName="Index Page" urlName="index-page" path="-1,1065" isDoc="" nodeType="1064" creatorName="Sid Group" writerName="Sid Group" writerID="0" template="1063" nodeTypeAlias="Frontpage" />
  <Forum id="1103" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-05-07T10:36:02" updateDate="2015-05-07T10:39:23" nodeName="Forum" urlName="forum" path="-1,1103" isDoc="" nodeType="1088" creatorName="Sid Group" writerName="Sid Group" writerID="0" template="1066" nodeTypeAlias="Forum">
    <forumName><![CDATA[nForum]]></forumName>
    <forumAdminEmail><![CDATA[name@youremail.com]]></forumAdminEmail>
    <forumNotificationReplyEmail><![CDATA[noreply@youremail.com]]></forumNotificationReplyEmail>
    <forumClosed>0</forumClosed>
    <forumEnableKarma>1</forumEnableKarma>
    <forumEnableAjaxPostSnippets>0</forumEnableAjaxPostSnippets>
    <forumEnableMemberReporting>1</forumEnableMemberReporting>
    <forumEnablePrivateMessaging>1</forumEnablePrivateMessaging>
    <forumPrivateMessageFloodControl><![CDATA[2]]></forumPrivateMessageFloodControl>
    <forumEnableRSSFeeds>1</forumEnableRSSFeeds>
    <forumEnableMarkAsSolution>1</forumEnableMarkAsSolution>
    <forumEnableSpamReporting>1</forumEnableSpamReporting>
    <forumEnableTopicEmailSubscriptions>1</forumEnableTopicEmailSubscriptions>
    <forumManuallyAuthoriseNewMembers>0</forumManuallyAuthoriseNewMembers>
    <forumEmailAdminOnNewMemberSignUp>0</forumEmailAdminOnNewMemberSignUp>
    <forumTopicsPerPage><![CDATA[10]]></forumTopicsPerPage>
    <forumPostsPerPage><![CDATA[10]]></forumPostsPerPage>
    <karmaPointsAddedPerPost><![CDATA[1]]></karmaPointsAddedPerPost>
    <karmaPointsAddedForThumbsUp><![CDATA[2]]></karmaPointsAddedForThumbsUp>
    <forumKarmaAllowedToVoteAmount><![CDATA[4]]></forumKarmaAllowedToVoteAmount>
  </Forum>
</root>